body {
    background-color: rgb(112, 118, 104);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 130px;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none;
}

#canvas-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(34, 33, 33) 35%, rgb(0, 0, 0) 100%);

    width: 960px;
    height: 540px;
    align-self: center;
    position: absolute;
}


#external-links {
    display: inline-flex;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 5px 5px 5px 5px;
}

#Logo {
    position: absolute;
    top: 0px;
}

#BodyBG {
    position: absolute;
    padding-top: 0px;
    z-index: -2;
    top: 0px;
    min-width: 100%;
}

#KnightBG {
    z-index: -1;
    position: absolute;
    top: 0px;
    max-height: 100%;
    left: -100px;
}

#KnightBG2 {
    z-index: -1;
    position: absolute;
    top: 0px;
    max-height: 100%;
    right: -100px;
    transform: scaleX(-1);
}

#frame {
    position: absolute;
    width: 1020px;
    height: 580px;
    top: 120px;
    z-index: 2;
}

.controls {
    margin-top: 10px;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p1-help {
    background-color: rgb(44, 42, 42);
    border: 1px solid gold;
    border-radius: 5px;
    width: 350px;
    height: 150px;
    text-align: center;
    color: white;
}

.p1-title {
    margin-top: 10px;
    margin-bottom: 20px;
    color: gold;
    font-family: fantasy;
    font-weight: bolder;
}

.p1-attack {
    margin-top: 10px;
}

.p1-movement {
    margin-top: 10px;
}

.p1-block {
    margin-top: 10px;
}