#Back{
    height: 80px;
    width: 200px;
    position: absolute;
    align-self: flex-end;
    vertical-align: bottom;
    padding: 0px 0px 0px 0px;
    margin-right: 50px;
    margin-top: 30px;
    z-index: 10;
}

#Back:hover {
    padding-right: 40px;
    transition: all 30ms;
}

#HelpBody {
    background-color: red;
    color: white;
    align-self: center;
    font-size: 40px;
    margin-top: 250px;
}

#CreditsBody {
    background-color: red;
    color: white;
    align-self: center;
    font-size: 40px;
    margin-top: 250px;
}

