#Play, #Settings, #About{
    height: 80px;
    width: 200px;
    position: absolute;
    align-self: flex-start;
    vertical-align: bottom;
    padding: 0px 0px 0px 0px;
    margin-left: 60px;
    bottom: 50px;
    z-index: 10;
}

#Settings {
    bottom: 90px;
}

#Settings:hover {
    padding-left: 50px;
    transition: all 100ms;
}

#Play {
    bottom: 270px;
}
#Play:hover {
    padding-left: 50px;
    transition: all 100ms;
}

#About {
    bottom: 180px;
}

#About:hover {
    padding-left: 50px;
    transition: all 100ms;
}

#ViewLogo{
    height: 150px;
    width: 390px;
    position: absolute;
    align-self: flex-start;
    vertical-align: bottom;
    padding: 30px 0px 0px 500px;
    animation: moveLR 5s infinite
}

@keyframes moveLR {
    0% {
        padding: 30px 0px 0px 500px;
    }
    25% {
        padding: 0px 0px 0px 500px;
    }
    50% {
        padding: 30px 0px 0px 500px;
    }
    75% {
        padding: 0px 0px 0px 500px;
    }
    100% {
        padding: 30px 0px 0px 500px;
    }
}