#SP, #MP, #Help, #Credits{
    background-color: red;
    color: white;
    position: absolute;
    bottom: 340px;
    font-size: 40px;
    width: 250px;
    text-align: center;
    border-radius: 24px;
    align-self: flex-start;
    margin-left: 300px;
}

#MP {
    bottom: 280px;
}

#Help {
    bottom: 220px;
}

#Credits {
    bottom: 160px;
}